<%- include('../partials/html-head') %>

<%- include('../partials/nav') %>



<h1><%= title %> </h1>
<h1>this is for armors</h1>

<section>

  <form action="/armors" method="POST">
  <label >
      Armor Name:
      <input type="text" name="name" id="new-armor-input">
  </label>
<button type="submit">Add Armor</button>

this field will add new individual pieces of armor to the database. I shouldnt have to render a new view for this but i will have to get them to show in the dropdown menu

</form>
<select name="" id="">
  <% armor.forEach(armor => { %>
    <option><%= armor.name %> </option>
  <% }); %> 
    
    <h2>add an armor piece</h2>



</section>


<section>
  <select name="" id="">
    <% //if (armor.length){ %> 
      
    <% //}else{ %> 
      <option value="">No armor added yet</option>
    <% //} %> 
  </select>
    <% //if(user){ %>

<button>Add this armor set to the list</button>

</section>

<%- include('../partials/footer') %>
