<%- include('../partials/html-head') %>

<%- include('../partials/nav') %>



<main>
  <h1><%= title %> </h1>
  <section>
    
    <form action="/armors" method="POST">
      <!-- write out input model within this form -->
    <label >
        Armor Name:
        <br>
        <input type="text" name="name" id="new-armor-input" autocomplete="off">
        <br>
    </label>
    <label >
        Armor Type:
        <br>
        <select type="text" name="armorType" id="new-armor-input">
            <option value="Head">Head</option>
            <option value="Body">Body</option>
            <option value="Arms">Arms</option>
            <option value="Waist">Waist</option>
            <option value="Legs">Legs</option>
        </select>
        <br>
    </label>
    <label >
        Defense Rating:
        <br>
        <input type="text" name="defense" id="new-armor-input" autocomplete="off">
        <br>
    </label>
    <label >
            Armor Skill:
            <br>
        <input type="text" name="skill" id="new-armor-input" autocomplete="off">
    </label>
  <button type="submit">Add Armor</button>
  </form>
  </section>

  <section>
      <% if (armor.length){ %> 
        
      <% }else{ %> 
        <option value="">No armor added yet</option>
      <% } %> 
    </select>
  </section>

  <section>
      <h2>Headwear</h2>
      <% armor.forEach(armor => { %>
        <% if (armor.armorType == 'Head'){ %> 
          <form action="/armors/<%= armor._id %>?_method=DELETE" method="POST">
            <li>
              <%= armor.name %> 
              <%= armor.armorType %>
              <%= armor.defense %>  
              <%= armor.skill %>   
              <% if(armor.owner.equals(user?.profile._id)){ %> 
                <button>X</button>
              <% } %> 
            </li>
          </form>
        <% }  %>
      <% }); %> 
      <br>
      <h2>Body</h2>
      <% armor.forEach(armor => { %>
        <% if (armor.armorType == 'Body'){ %> 
          <form action="/armors/<%= armor._id %>?_method=DELETE" method="POST">
            <li>
              <%= armor.name %> <%= armor.armorType %> <%= armor.defense %>  
              <button>X</button>
              
            </li>
          </form>
        <% }  %>
      <% }); %> 
      <br>
      <h2>Arms</h2>
      <% armor.forEach(armor => { %>
        <% if (armor.armorType == 'Arms'){ %> 
          <form action="/armors/<%= armor._id %>?_method=DELETE" method="POST">
            <li>
              <%= armor.name %> <%= armor.armorType %> <%= armor.defense %>  
              <button>X</button>
              
            </li>
          </form>
        <% }  %>
      <% }); %> 
      <br>
      <h2>Waist</h2>
      <% armor.forEach(armor => { %>
        <% if (armor.armorType == 'Waist'){ %> 
          <form action="/armors/<%= armor._id %>?_method=DELETE" method="POST">
            <li>
              <%= armor.name %> <%= armor.armorType %> <%= armor.defense %>  
              <button>X</button>
              
            </li>
          </form>
        <% }  %>
      <% }); %> 
      <br>
      <h2>Legs</h2>
      <% armor.forEach(armor => { %>
        <% if (armor.armorType == 'Legs'){ %> 
          <form action="/armors/<%= armor._id %>?_method=DELETE" method="POST">
            <li>
              <%= armor.name %> <%= armor.armorType %> <%= armor.defense %> 
              <button>X</button>
              
            </li>
          </form>
        <% }  %>
      <% }); %> 
  </section>
</main>

<%- include('../partials/footer') %>
