<%- include('../partials/html-head') %>

<%- include('../partials/nav') %>



<h1><%= title %> </h1>

<section>

  <form action="/armors" method="POST">
  <label >
      Armor Name:
      <input type="text" name="name" id="new-armor-input">
  </label>
<button type="submit">Add Armor</button>

</form>
<select name="" id="">
  <% armor.forEach(armor => { %>
    <option><%= armor.name %> </option>
  <% }); %> 
    
    <h2>add an armor piece</h2>

    <select name="" id="">
</section>


<section>
    <% if (armor.length){ %> 
      
    <% }else{ %> 
      <option value="">No armor added yet</option>
    <% } %> 
  </select>




</section>

<section>
  <form action="/armor-sets" method="POST">


  <h1>Build Armor set here</h1>
  <p>head body arms waist legs</p>
  <select name="name" id="">
    <% armor.forEach(armor => { %>
      <option><%= armor.name %> </option>
    <% }); %> 
  </select>
  <p>When this <button>button</button> is clicked, send me to armor-sets/index</p>
</form>

</section>

<%- include('../partials/footer') %>
