<%- include('../partials/html-head') %>

<%- include('../partials/nav') %>



<h1><%= title %> </h1>

<section>
  <select name="" id="">
    <% armor.forEach(armor => { %>
      <option>
          <%= armor.name %>
          <%= armor.armorType %>
          <%= armor.defense %>
      </option>
    <% }); %> 
      
      <h2>add an armor piece</h2>
  
      <select name="" id="">
  <form action="/armors" method="POST">
    <!-- write out input model within this form -->
  <label >
      Armor Name:
      <input type="text" name="name" id="new-armor-input">
  </label>
  <label >
      Armor Type:
      <select type="text" name="armorType" id="new-armor-input">
          <option value="Head">Head</option>
      </select>
  </label>
  <label >
      Defense Rating:
      <input type="text" name="defense" id="new-armor-input">
  </label>
  





<button type="submit">Add Armor</button>
</form>

</section>


<section>
    <% if (armor.length){ %> 
      
    <% }else{ %> 
      <option value="">No armor added yet</option>
    <% } %> 
  </select>




</section>

<section>
  <form action="/armor-sets" method="POST">
  <p>head body arms waist legs</p>

    <% armor.forEach(armor => { %>
      <div>
        <p><%= armor.name %> <%= armor.armorType %> <%= armor.defense %>  </p>
        <p><%= armor.armorType %> </p>
        <p><%= armor.defense %> </p>
      </div>
    <% }); %> 

</form>

</section>

<%- include('../partials/footer') %>
