<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<% title = 'Hello' %> 
<main>
  <h1>Welcome, <%= user ? user.profile.name : "guest" %></h1>
<% if(!user){ %>
    <h2>Welcome Message for guest</h2>
    <h3>As a guest you can...</h3>
    <h3>perks for being a user</h3>
    
  <% } %>  



  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>
</main>

<%- include('./partials/footer') %>
