<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<% title = 'Welcome' %> 
<main>
  <h1>Welcome, <%= user ? user.profile.name : "hunter" %></h1>
<% if(!user){ %>
    <h3>
      As a guest you can view all the builds made by users. Sign in with google to make your own!
    </h3>
    
  <% } %>  

  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% }else{ %>
    <div>
        <img src="https://numskull.com/wp-content/uploads/Monster-Hunter-Logo-1.png" alt="">
        <img src="" alt="">
    </div>
  
    <% } %>
  </main>

<%- include('./partials/footer') %>
