<%- include('../partials/html-head') %>

<%- include('../partials/nav') %>

<main>
<h1>Weapons</h1>
  
  <section>
    <% if(user){ %>
      <h2>Add a Weapon</h2>
      <form action="/weapons" method="POST" autocomplete="off" >
        <label >
          Weapon Name:
          <input type="text" name="name" id="new-weapon-input">
        </label>

        
        <br>
        <label >
          Weapon Type:
          <select type="text" name="weaponType" id="new-weapon-input">
            <option value="Greatsword">Greatsword</option>
            <option value="Sword and Shield">Sword and Shield</option>
            <option value="Dual Blades">Dual Blades</option>
            <option value="Long Sword">Long Sword</option>
            <option value="Hammer">Hammer</option>
            <option value="Hunting Horn">Hunting Horn</option>
            <option value="Gunlance">Gunlance</option>
            <option value="Switch Axe">Switch Axe</option>
            <option value="Charge Blade">Charge Blade</option>
            <option value="Insect Glaive">Glaive</option>
            <option value="Bow">Bow</option>
            <option value="Light Bowgun">Light Bowgun</option>
            <option value="Heavy Bowgun">Heavy Bowgun</option>
          </select>
        </label>
        <br>
        <label >
          Attack Power:
          <input type="number" name="attackPower" id="new-weapon-input">
        </label>
        <br>
        <label >
          Weapon Sharpness:
          <select name="sharpness" id="">
            <option value="Red">Red</option>
            <option value="Orange">Orange</option>
            <option value="Yellow">Yellow</option>
            <option value="Green">Green</option>
            <option value="Blue">Blue</option>
            <option value="White">White</option>
            <option value="Purple">Purple</option>
          </select>
        </label>
        <br>
        <label >
          Weapon Affinity:
          <input type="number" name="affinity" id="new-weapon-input" placeholder="1-100%">
        </label>
        <br>
        <label >
            Element:
          <select name="element" id="">
            
            <option value="None">None</option>
            <option value="Fire">Fire</option>
            <option value="Water">Water</option>
            <option value="Thunder">Thunder</option>
            <option value="Ice">Ice</option>
            <option value="Dragon">Dragon</option>
          </select>
        </label>
        <br>
        <label >
            Elderseal:
          <select name="elderseal" id="">
            <option value="None">None</option>
            <option value="Low">Low</option>
            <option value="Average">Average</option>
            <option value="High">High</option>
          </select>
        </label>
        <br>
        <label >
          Slots:
          <input type="number" name="slots" id="new-weapon-input" placeholder="1-3">
        </label>
        <br>
        <label >
            Defense Bonus:
          <input type="number" name="defenseBonus" id="new-weapon-input">
        </label>
        <br>
        <label >
            Notes:
          <select name="notes" id="new-weapon-input">

            <option value="None">None</option>
            <option value="White">White</option>
            <option value="Red">Red</option>
            <option value="Blue">Blue</option>
            <option value="Cyan">Cyan</option>
            <option value="Green">Green</option>
            <option value="Yellow">Yellow</option>
            <option value="Orange">Orange</option>
            <option value="Purple">Purple</option>
          </select>
      </label>
      <br>
      Phial Type:
        <select name="phialType" id="new-weapon-input">
          <option value="None">None</option>
          <option value="Elemental">Elemental</option>
          <option value="Power">Power</option>
          <option value="Paralyze">Paralyze</option>
          <option value="Dragon">Dragon</option>
        </select>
      </label>
      <br>
      Shelling Type:
      <select name="shellingType" id="new-weapon-input">
        <option value="None">None</option>
        <option value="Normal">Normal</option>
        <option value="Long">Long</option>
        <option value="Wide">Wide</option>
      </select>
      </label>
    <br>
    <br>
    <label >
        Shelling Level:
      <input type="number" name="shellingLevel" id="new-weapon-input" placeholder="1-10">
    </label>

      <br>
      Kinsect Bonus:
      <select name="kinsectBonus" id="new-weapon-input">
        <option value="None">None</option>
        <option value="Speed">Speed</option>
        <option value="Stamina">Stamina</option>
        <option value="Health">Health</option>
        <option value="Element">Element</option>
        <option value="Sever">Sever</option>
        <option value="Blunt">Blunt</option>
        <option value="Spirit $ Strength">Spirit $ Strength</option>
        <option value="Stamina & Healing">Stamina & Healing</option>
      </select>
    </label>
    <br>


        <button type="submit">Add Weapon</button>
      </form>
      <% } %>  
    </section>
</main>
    
<% if(weapons.length){   %> 
<main>
  <h1>All Weapons</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Power</th>
        <th>Sharpness</th>
        <th>Affinity</th>
        <th>Element</th>
        <th>Elderseal</th>
        <th>Slots</th>
        <th>Defense Bonus</th>
        <th>Notes</th>
        <th>Phial Type</th>
        <th>Shelling Type</th>
        <th>Shelling Level</th>
        <th>Kinsect Bonus</th>
      </tr>
    </thead>
    <tbody>
      <% weapons.forEach( weapon => { %>
        <% if (weapon.weaponType == 'Greatsword') {%>
          <tr>
            <td> <a href="/weapons/<%= weapon._id %> "><%= weapon.name %> </a></td>
            <td> <%= weapon.weaponType %> </td>
            <td> <%= weapon.attackPower%> </td>
            <td> <%= weapon.sharpness %> </td>
            <td> <%= weapon.affinity %>% </td>
            <td> <%= weapon.element %> </td>
            <td> <%= weapon.elderseal %> </td>
            <td> <%= weapon.slots %> </td>
            <td> <%= weapon.defenseBonus %> </td>
            <td> <%= weapon.notes %> </td>
            <td> <%= weapon.phialType %> </td>
            <td> <%= weapon.shellingType %> </td>
            <td> <%= weapon.shellingLevel %> </td>
            <td> <%= weapon.kinsectBonus %> </td>
          </tr>
          <% }  %>  
          <% }) %> 
          
          <% weapons.forEach( weapon => { %>
        <% if (weapon.weaponType == 'Sword and Shield') {%>
          <tr>
            <td> <a href="/weapons/<%= weapon._id %> "><%= weapon.name %> </a></td>
            <td> <%= weapon.weaponType %> </td>
            <td> <%= weapon.attackPower%> </td>
            <td> <%= weapon.sharpness %> </td>
            <td> <%= weapon.affinity %>% </td>
            <td> <%= weapon.element %> </td>
            <td> <%= weapon.elderseal %> </td>
            <td> <%= weapon.slots %> </td>
            <td> <%= weapon.defenseBonus %> </td>
            <td> <%= weapon.notes %> </td>
            <td> <%= weapon.phialType %> </td>
            <td> <%= weapon.shellingType %> </td>
            <td> <%= weapon.shellingLevel %> </td>
            <td> <%= weapon.kinsectBonus %> </td>
          </tr>
        <% }  %>  
        <% }) %> 
          
          <% weapons.forEach( weapon => { %>

          <% if (weapon.weaponType == 'Dual Blades') {%>
            <tr>
              <td> <a href="/weapons/<%= weapon._id %> "><%= weapon.name %> </a></td>
              <td> <%= weapon.weaponType %> </td>
              <td> <%= weapon.attackPower%> </td>
              <td> <%= weapon.sharpness %> </td>
              <td> <%= weapon.affinity %>% </td>
              <td> <%= weapon.element %> </td>
              <td> <%= weapon.elderseal %> </td>
              <td> <%= weapon.slots %> </td>
              <td> <%= weapon.defenseBonus %> </td>
              <td> <%= weapon.notes %> </td>
              <td> <%= weapon.phialType %> </td>
              <td> <%= weapon.shellingType %> </td>
              <td> <%= weapon.shellingLevel %> </td>
              <td> <%= weapon.kinsectBonus %> </td>
            </tr>
            <% }  %>  
            <% }) %> 
          
            <% weapons.forEach( weapon => { %>

        <% if (weapon.weaponType == 'Long Sword') {%>
          <tr>
            <td> <a href="/weapons/<%= weapon._id %> "><%= weapon.name %> </a></td>
            <td> <%= weapon.weaponType %> </td>
            <td> <%= weapon.attackPower%> </td>
            <td> <%= weapon.sharpness %> </td>
            <td> <%= weapon.affinity %>% </td>
            <td> <%= weapon.element %> </td>
            <td> <%= weapon.elderseal %> </td>
            <td> <%= weapon.slots %> </td>
            <td> <%= weapon.defenseBonus %> </td>
            <td> <%= weapon.notes %> </td>
            <td> <%= weapon.phialType %> </td>
            <td> <%= weapon.shellingType %> </td>
            <td> <%= weapon.shellingLevel %> </td>
            <td> <%= weapon.kinsectBonus %> </td>
          </tr>
        <% }  %>  
        <% }) %> 
          
          <% weapons.forEach( weapon => { %>

        <% if (weapon.weaponType == 'Hammer') {%>
          <tr>
            <td> <a href="/weapons/<%= weapon._id %> "><%= weapon.name %> </a></td>
            <td> <%= weapon.weaponType %> </td>
            <td> <%= weapon.attackPower%> </td>
            <td> <%= weapon.sharpness %> </td>
            <td> <%= weapon.affinity %>% </td>
            <td> <%= weapon.element %> </td>
            <td> <%= weapon.elderseal %> </td>
            <td> <%= weapon.slots %> </td>
            <td> <%= weapon.defenseBonus %> </td>
            <td> <%= weapon.notes %> </td>
            <td> <%= weapon.phialType %> </td>
            <td> <%= weapon.shellingType %> </td>
            <td> <%= weapon.shellingLevel %> </td>
            <td> <%= weapon.kinsectBonus %> </td>
          </tr>
        <% }  %>  
        <% }) %> 
          
          <% weapons.forEach( weapon => { %>

          <% if (weapon.weaponType == 'Hunting Horn') {%>
            <tr>
              <td> <a href="/weapons/<%= weapon._id %> "><%= weapon.name %> </a></td>
              <td> <%= weapon.weaponType %> </td>
              <td> <%= weapon.attackPower%> </td>
              <td> <%= weapon.sharpness %> </td>
              <td> <%= weapon.affinity %>% </td>
              <td> <%= weapon.element %> </td>
              <td> <%= weapon.elderseal %> </td>
              <td> <%= weapon.slots %> </td>
              <td> <%= weapon.defenseBonus %> </td>
              <td> <%= weapon.notes %> </td>
              <td> <%= weapon.phialType %> </td>
              <td> <%= weapon.shellingType %> </td>
              <td> <%= weapon.shellingLevel %> </td>
              <td> <%= weapon.kinsectBonus %> </td>
            </tr>
          <% } %>  
          <% }) %> 
          
          <% weapons.forEach( weapon => { %>
 

          <% if (weapon.weaponType == 'Gunlance') {%>
            <tr>
              <td> <a href="/weapons/<%= weapon._id %> "><%= weapon.name %> </a></td>
              <td> <%= weapon.weaponType %> </td>
              <td> <%= weapon.attackPower%> </td>
              <td> <%= weapon.sharpness %> </td>
              <td> <%= weapon.affinity %>% </td>
              <td> <%= weapon.element %> </td>
              <td> <%= weapon.elderseal %> </td>
              <td> <%= weapon.slots %> </td>
              <td> <%= weapon.defenseBonus %> </td>
              <td> <%= weapon.notes %> </td>
              <td> <%= weapon.phialType %> </td>
              <td> <%= weapon.shellingType %> </td>
              <td> <%= weapon.shellingLevel %> </td>
              <td> <%= weapon.kinsectBonus %> </td>
            </tr>
          <% } %> 
          <% }) %> 
          
          <% weapons.forEach( weapon => { %>
          <% if (weapon.weaponType == 'Switch Axe') {%>
            <tr>
              <td> <a href="/weapons/<%= weapon._id %> "><%= weapon.name %> </a></td>
              <td> <%= weapon.weaponType %> </td>
              <td> <%= weapon.attackPower%> </td>
              <td> <%= weapon.sharpness %> </td>
              <td> <%= weapon.affinity %>% </td>
              <td> <%= weapon.element %> </td>
              <td> <%= weapon.elderseal %> </td>
              <td> <%= weapon.slots %> </td>
              <td> <%= weapon.defenseBonus %> </td>
              <td> <%= weapon.notes %> </td>
              <td> <%= weapon.phialType %> </td>
              <td> <%= weapon.shellingType %> </td>
              <td> <%= weapon.shellingLevel %> </td>
              <td> <%= weapon.kinsectBonus %> </td>
            </tr>
          <% } %>  
          <% }) %> 
          
          <% weapons.forEach( weapon => { %>
          <% if (weapon.weaponType == 'Charge Blade') {%>
            <tr>
              <td> <a href="/weapons/<%= weapon._id %> "><%= weapon.name %> </a></td>
              <td> <%= weapon.weaponType %> </td>
              <td> <%= weapon.attackPower%> </td>
              <td> <%= weapon.sharpness %> </td>
              <td> <%= weapon.affinity %>% </td>
              <td> <%= weapon.element %> </td>
              <td> <%= weapon.elderseal %> </td>
              <td> <%= weapon.slots %> </td>
              <td> <%= weapon.defenseBonus %> </td>
              <td> <%= weapon.notes %> </td>
              <td> <%= weapon.phialType %> </td>
              <td> <%= weapon.shellingType %> </td>
              <td> <%= weapon.shellingLevel %> </td>
              <td> <%= weapon.kinsectBonus %> </td>
            </tr>
          <% }  %>  
          <% }) %> 
          
          <% weapons.forEach( weapon => { %>
          <% if (weapon.weaponType == 'Insect Glaive') {%>
            <tr>
              <td> <a href="/weapons/<%= weapon._id %> "><%= weapon.name %> </a></td>
              <td> <%= weapon.weaponType %> </td>
              <td> <%= weapon.attackPower%> </td>
              <td> <%= weapon.sharpness %> </td>
              <td> <%= weapon.affinity %>% </td>
              <td> <%= weapon.element %> </td>
              <td> <%= weapon.elderseal %> </td>
              <td> <%= weapon.slots %> </td>
              <td> <%= weapon.defenseBonus %> </td>
              <td> <%= weapon.notes %> </td>
              <td> <%= weapon.phialType %> </td>
              <td> <%= weapon.shellingType %> </td>
              <td> <%= weapon.shellingLevel %> </td>
              <td> <%= weapon.kinsectBonus %> </td>
            </tr>
            <% }  %>  
            <% }) %> 
          
          <% weapons.forEach( weapon => { %>
          <% if (weapon.weaponType == 'Bow') {%>
            <tr>
              <td> <a href="/weapons/<%= weapon._id %> "><%= weapon.name %> </a></td>
              <td> <%= weapon.weaponType %> </td>
              <td> <%= weapon.attackPower%> </td>
              <td> <%= weapon.sharpness %> </td>
              <td> <%= weapon.affinity %>% </td>
              <td> <%= weapon.element %> </td>
              <td> <%= weapon.elderseal %> </td>
              <td> <%= weapon.slots %> </td>
              <td> <%= weapon.defenseBonus %> </td>
              <td> <%= weapon.notes %> </td>
              <td> <%= weapon.phialType %> </td>
              <td> <%= weapon.shellingType %> </td>
              <td> <%= weapon.shellingLevel %> </td>
              <td> <%= weapon.kinsectBonus %> </td>
            </tr>
          <% } %>   
          <% }) %> 
          
          <% weapons.forEach( weapon => { %>
        <% if (weapon.weaponType == 'Light Bowgun') {%>
          <tr>
            <td> <a href="/weapons/<%= weapon._id %> "><%= weapon.name %> </a></td>
            <td> <%= weapon.weaponType %> </td>
            <td> <%= weapon.attackPower%> </td>
            <td> <%= weapon.sharpness %> </td>
            <td> <%= weapon.affinity %>% </td>
            <td> <%= weapon.element %> </td>
            <td> <%= weapon.elderseal %> </td>
            <td> <%= weapon.slots %> </td>
            <td> <%= weapon.defenseBonus %> </td>
            <td> <%= weapon.notes %> </td>
            <td> <%= weapon.phialType %> </td>
            <td> <%= weapon.shellingType %> </td>
            <td> <%= weapon.shellingLevel %> </td>
            <td> <%= weapon.kinsectBonus %> </td>
          </tr>
        <% }  %>  
        <% }) %> 
          
          <% weapons.forEach( weapon => { %>
        <% if (weapon.weaponType == 'Heavy Bowgun') {%>
          <tr>
            <td> <a href="/weapons/<%= weapon._id %> "><%= weapon.name %> </a></td>
            <td> <%= weapon.weaponType %> </td>
            <td> <%= weapon.attackPower%> </td>
            <td> <%= weapon.sharpness %> </td>
            <td> <%= weapon.affinity %>% </td>
            <td> <%= weapon.element %> </td>
            <td> <%= weapon.elderseal %> </td>
            <td> <%= weapon.slots %> </td>
            <td> <%= weapon.defenseBonus %> </td>
            <td> <%= weapon.notes %> </td>
            <td> <%= weapon.phialType %> </td>
            <td> <%= weapon.shellingType %> </td>
            <td> <%= weapon.shellingLevel %> </td>
            <td> <%= weapon.kinsectBonus %> </td>
          </tr>
        <% }  %>  
      
        <% }) %> 
    </tbody>
  </table>
<% }else{ %>
        <h2>no weapons yet</h2>
<% } %> 
</main>




<%- include('../partials/footer') %>