<%- include('../partials/html-head') %>

<%- include('../partials/nav') %>




<h1>Show Page</h1>


<section>
	<p>From <%= //weapon.owner.name %>so n so's arsenal </p>

  <h1><%= weapon.name %> 🗡🦖</h1>

only show if user

<form action=""></form>

  <form action="/weapons/<%= weapon._id %>/edit" method="GET">
    <button class="btn" type="submit">Edit this weapon </button>
  </form>

  <form action="/weapons/<%= weapon._id %>?_method=DELETE" method="POST">
    <button class="btn" type="submit">Delete this weapon 😠</button>
  </form>

  <h1>show a weapon desription only if one has been written</h1>
  <h2>This is a weapon %></h2>
  <h2>stats table here</h2>
</section>


<label for="armors">Compatible Armor Pieces</label>
  <ul name="armors">
    <% if (weapon.armors.length){ %>
      <% weapon.armors.forEach(armor => { %>
        <li><%= armor.name %></li>
      <% }) %> 
    <% }else{ %>
<h1>no armor pieces added yet</h1>
    <% } %>  
  </ul>


  <form action="/weapons/<%= armor.id %>/armors " method="POST">
  <select name="name" id="">
    <option value="<%= armor._id %> ">
      <%= armor.name %> 

    </option>
  </select>
  
  </form>



<%- include('../partials/footer') %>