<%- include('../partials/html-head') %>

<%- include('../partials/nav') %>




<h1>Show Page</h1>


<section>
	<p>From the kitchen of <%= //weapon.owner.name %>...</p>

  <h1><%= weapon.name %> 🌮</h1>
  <h2>This taco is <%= weapon.tasty ? 'tasty! 😋' : 'not tasty! 😫' %></h2>
</section>







<%- include('../partials/footer') %>