<%- include('../partials/html-head') %>

<%- include('../partials/nav') %>


<main>
  <section>
    <h1>From the armory of <%= weapon.owner.name %></h1>

    <h1><%= weapon.name %> 🗡🦖</h1>

<% if(weapon.owner.equals(user?.profile._id)){ %> 
  
  <form action="/weapons/<%= weapon._id %>/edit" method="GET">
    <button class="btn" type="submit">Edit this weapon </button>
  </form>
  
  <form action="/weapons/<%= weapon._id %>?_method=DELETE" method="POST">
    <button class="btn" type="submit">Delete this weapon 😠</button>
  </form>
</section>
<% }%> 

<h2>stats table here</h2>
<table>
  <thead>
    <!-- <th>Name</th>     -->
    <th>Type</th>    
    <th>Sharpness</th>    
    <th>Affinity</th>    
    <th>Element</th>    
    <th>Elderseal</th>    
    <th>Slots</th>    
    <th>Defense Bonuses</th>    
    <% if(weapon.weapontype == 'Hunting Horn'){%> 
      <th>Notes</th>  
      <% } %> 

  <% if(weapon.weapontype == 'Switch Axe'){%> 
      <th>Phial Type</th>    
  <% } %> 

  <% if(weapon.weapontype == 'Gunlance'){%> 
        <th>Shelling Type</th>    
        <th>Shelling Level</th>    
  <% } %> 

  <% if(weapon.weapontype == 'Insect Glaive'){%> 
    <th>Kinsect Bonus</th>    
  <% } %> 

      
  </thead>
  <tbody>
    <tr>
      <td><%= //weapon.name %></td>
      <td><%= weapon.weaponType %></td>
      <td><%= weapon.sharpness %></td>
      <td><%= weapon.affinity %></td>
      <td><%= weapon.element %></td>
      <td><%= weapon.elderseal %></td>
      <td><%= weapon.slots %></td>
      <td><%= weapon.defenseBonus %></td>

      <% if(weapon.weapontype == 'Hunting Horn'){%> 
        <td><%= weapon.notes %></td>
        <% } %> 

      <% if(weapon.weapontype == 'Switch Axe'){%> 
          <td><%= weapon.phialType %></td>
          <% } %> 


      <% if(weapon.weapontype == 'Gunlance'){%> 
        <td><%= weapon.shellingType %></td>
        <td><%= weapon.shellingLevel %></td>
        <% } %> 

      <% if(weapon.weapontype == 'Insect Glaive'){%> 
          <td><%= weapon.kinsectBonus %></td>
      <% } %> 
    </tr>
  </tbody>
</table>

  <h1>
    <label for="armors">Compatible Armor Pieces:</label>
  </h1>

      <% if (weapon.armors.length){ %>
    <table>
      <thead>
        <th>Name</th>
        <th>Type</th>
        <th>Defense</th>
        <th>Skill</th>
      </thead>
      <tbody>
        <% weapon.armors.forEach(armor => { %>
          <tr>
            <td><%= armor.name %></td>
            <td><%= armor.armorType %></td>
            <td><%= armor.defense %></td>
            <td><%= armor.skill %></td>
          </tr>
            <% }) %> 
        </tbody>
      </table>
        <% }else{ %>
          <h1>no armor pieces added yet</h1>
          <% } %>  


<% if(user){ %> 
  <form action="/weapons/<%= weapon.id %>/armors " method="POST">
    <select name="armorId" id="">
      <% armors.forEach( armor => { %>
        
        <option value="<%=armor._id%>">
          <%= armor.name %> 
          <%= armor.armorType %> 
          <%= armor.defense %> 
          <%= armor.skill %> 
        </option>
        <% }) %> 
        
      </select>
      <button type="submit">submit</button>
    </form>
    <% }else {%> 
      <h2>Sign in with google to add your own armor pieces to the weapon</h2>
    <% }%> 
</main>


<%- include('../partials/footer') %>